spring:
  application:
    name: DISCOVERY-SERVICE
  zipkin:
    base-url: http://localhost:9411
  main:
    allow-circular-references: true

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false






